button{
    & span{
    &.v-btn__content{
        font-weight: bold;
        color: white;
        text-decoration-color: white;
    }
    }
}
.v-data-footer{
    & button{
        & span{
        &.v-btn__content{
            font-weight: bold;
            color: $button !important;
            text-decoration-color: white;
        }
        }
    }
}