
  
  @font-face {
    font-family: "Mulish";
    font-style: normal;
    src: url(../fonts/mulish/Mulish-Regular.ttf);
  }
  @font-face {
    font-family: "Inter";
    font-style: normal;
    src: url(../fonts/inter/inter_variable.ttf);
  }
  
  #__nuxt .app {
    font-family: "Inter", sans-serif;
  }
  
  
  html,
  body #app {
    -webkit-font-smoothing: antialiased;
    background: #f3f2f9 !important;
    font-style: normal !important;
    font-family: "Inter", sans-serif !important;
    margin: 0;
    overflow-x: hidden;
  }
  
  /*******************
  Headings
  *******************/
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  a,
  span,
  div {
    @include font_style;
  
  }
  p {
    &.primary--text{
      &.text-h6{
       @include font_style;
      }
    }
  }